#about {
  background-color: #eaedef;
  position: relative;
  font-size: 1.2rem;
}
#about > .wrapper {
  margin: auto;
  width: 50%;
}
#about > .wrapper > h3 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  color: #333;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#about > .wrapper > p {
  text-align: center;
}

#about > .wrapper > h4 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
  color: #333;
}
.skills {
  text-align: center;
}

@keyframes glow {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.skills > svg {
  display: inline-block;
  color: #74797e;
  width: 50px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  animation: glow 3s infinite;
  opacity: 0.7;
}

.skills > .html {
color: #e34c26;
animation-delay: 0s;
}

.skills > .css {
  color: #264de4;
  animation-delay: 0.1s;
}

.skills > .js {
  color: #f0db4f;
  animation-delay: 0.2s;
}

.skills > .php {
  color: #787cb5;
  animation-delay: 0.3s;
}

.skills > .java {
  color: #e11631;
  animation-delay: 0.4s;
}

.skills > .react {
  color: #61dbfb;
  animation-delay: 0.5s;
}

.skills > .flutter {
  color: #03A9F4;
  animation-delay: 0.5s;
}

.skills > .kotlin {
  color: #806EE3;
  animation-delay: 0.6s;
}

.skills > .python {
  color: #ffd43b;
  animation-delay: 0.7s;
}

.skills > .bs {
  color: #563d7c;
  animation-delay: 0.8s;
}

.skills > .sql {
  color: #f29111;
  animation-delay: 0.9s;
}

.skills > .laravel {
  color: #fb503b;
  animation-delay: 1s;
}

.skills > .android {
  color: #3ddc84;
  animation-delay: 1.1s;
}

.skills > .vsc {
  color: #0078d7;
  animation-delay: 1.2s;
}

.skills > .figma {
  padding: 5px;
  height: 35px;
  width: 35px;
  color: #ffff;
  background: linear-gradient(180deg, #f24e1e, #ff7262, #a259ff, 	#1abcfe, #0acf83);
  animation-delay: 1.3s;
}

.skills > .laragon {
  color: #419be6;
  animation-delay: 1.4s;
}

.skills > .git {
  color: #f1502f;
  animation-delay: 1.5s;
}
  
  @media only screen and (max-width: 1000px) {
    #about > .wrapper {
      width: 80%;
    }
  }