footer {
    background-color: #39404a;
    text-align: center;
    line-height: 100px;
    color: #fff;
    letter-spacing: 5px;
    padding: 10px 0;
}

footer h3 {
    margin: 10px 0;
    font-size: 24px;
}

.contact {
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item > svg {
    color: #fff;
    width: 30px;
    height: auto;
}

.contact-item h5 {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.contact > svg {
    color: #fff;
    width: 50px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.contact h5 {
    margin: 0;
    font-size: 16px;
    color: #fff;
}
